*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-color: #4E2FE8;
    --background-color : #F6F6F6;
    --dark-background : #202024;
    --secondary-color : #EAC645;
    --heading-color : #B4AFAF;
    --animate-delay: 0.5s;
}

body{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: var(--background-color);
    font-family: "DM Sans", sans-serif;
    transition: all 0.3s ease-in-out;
}

header{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
}

nav{
    border: 1px solid;
    border-radius: 0 0 0.5rem 0.5rem;
    width: 90%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img{
    padding-top: 0.6rem;
    width: 4rem;
    height: 4rem;
}

.sign{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.light, .dark{
    padding: 0.7rem 0.9rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transform: rotate(-30deg);
    transition: all 0.5s ease-in-out;
    border: 0.5px solid;
}

.light:hover, .dark:hover{
    transform: rotate(0deg);
}

.light{
    background-color: var(--dark-background);
    color: white;
    display: none;
}

.light:hover{
    color: var(--dark-background);
    background-color: var(--background-color);
    border: 0.5px solid;
}

.dark{
    padding: 0.55rem 0.9rem;
    background-color: var(--background-color);
}

.dark:hover{
    background-color: var(--dark-background);
    color: white;
}

.signup{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    padding: 0.7rem 1rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    background-color: var(--main-color);
    color: white;
    font-size: 1.1rem;
    margin-left: 0.3rem;
    transition: all 0.4s ease-in-out;
}

.signup i{
    color: var(--secondary-color);
    transition: all 0.2s ease-in-out;
}

.signup:hover i{
    color: black;
}

main{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

aside{
    height: 100%;
    width: 30%;
    padding: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.cat-container{
    position: fixed;
    width: 25%;
    height: 82vh;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.9rem;
    padding-left: 3rem;
    overflow-y: scroll;
}

li{
    font-size: 1.2rem;
    color: var(--heading-color);
    transition: all 0.1s ease-in-out;
}

li:hover{
    cursor: pointer;
    font-size: 1.3rem;
    color: var(--main-color);
    font-weight: 700;
}

.selected{
    font-size: 1.3rem;
    color: var(--main-color);
    font-weight: 700;
}

.main-container{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
    padding: 2rem 0;
}

.last-word{
    color: var(--main-color);
}

.category-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    padding-right: 1.5rem;
}

.cat-name{
    color: var(--heading-color);
    font-size: 0.9rem;
}

.book-list{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 0.5rem 0;
}

.book{
    width: 18%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    cursor: pointer;
    position: relative;
}

.book img{
    width: 12rem;
    height: 16rem;
    border-radius: 0.8rem;
}

.book-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.quick-view{
    justify-content: center;
    align-items: center;
    display: none;
    margin-top: -4rem;
    border-radius: 0 0 0.8rem 0.8rem;
    background-color: var(--secondary-color);
    height: 4rem;
    width: 100%;
    text-align: center;
}

.book:hover .quick-view{
    display: flex;
}

.book-name{
    padding-top: 1rem;
    font-size: 1rem;
    font-weight: 700;
}

.author{
    font-size: 0.75rem;
    font-weight: 400;
    font-style: italic;
    color: var(--heading-color);
}

.see-more, .cart, .close{
    padding: 1rem 1.5rem;
    border: 1px solid var(--main-color);
    background-color: transparent;
    border-radius: 2rem;
    font-size: 0.875rem;
    font-weight: 600;
    align-self: flex-end;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: inherit;
}

.see-more:hover, .cart:hover, .close:hover{
    background-color: var(--main-color);
    color: white;
}


.details{
    width: 40%;
    height: auto;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 3;
    position: fixed;
    top: 20%;
    left: 35%;
    padding: 2rem;
    background-color: var(--background-color);
    border-radius: 1rem;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
    border: 2px solid black;
    color: black;
    transition: all 0.3s ease-in-out;
}

.book-info{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.5rem;
}

.title{
    font-size: 1.1rem;
    font-weight: 600;
}

.description{
    padding-top: 3rem;
    padding-bottom: 0.6rem;
}

.book-info img{
    width: 12rem;
    height: 16rem;
    border-radius: 1rem;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
}

.icons img{
    width: 1.5rem;
    height: 1.2rem;
    border-radius: 0rem;
}

.cart, .close{
    width: 90%;
    align-self: center;
    margin-top: 1.5rem;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
}


/* <------------- Scrollbar Styling ----------> */

/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 5px;
    border: none;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #E1E1E0;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b4afaf;
  }
  

/* <-------------Animations----------> */

  /* Sweep To Right */
.hvr-sweep-to-right {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    border-radius: 1rem;
  }
  .hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0.02rem;
    right: 0;
    bottom: 0;
    background: var(--secondary-color);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    transition: transform 0.3s ease-in-out;
    border-radius: 1rem;
  }
  .hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
    color: black;
    border-radius: 1rem;
  }
  .hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }



  /* <------ Loading ------> */

  #load {
    z-index: 5;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0%;
    min-height: 100vh;
    height: 100%;
    overflow:visible;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor:default;
    background-color: var(--background-color);
    opacity: 0.5;
    text-align: left;
  }
  
  #load div {
    position:absolute;
    width:20px;
    height:36px;
    opacity:0;
    font-size: 1.3rem;
    font-weight: 700;
    font-family:Helvetica, Arial, sans-serif;
    animation:move 1.5s linear infinite;
    -o-animation:move 1.5s linear infinite;
    -moz-animation:move 1.5s linear infinite;
    -webkit-animation:move 1.5s linear infinite;
    transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    color: var(--main-color);
  }
  
  #load div:nth-child(2) {
    animation-delay:0.1s;
    -o-animation-delay:0.1s;
    -moz-animation-delay:0.1s;
    -webkit-animation-delay:0.1s;
  }
  #load div:nth-child(3) {
    animation-delay:0.2s;
    -o-animation-delay:0.2s;
    -webkit-animation-delay:0.2s;
    -webkit-animation-delay:0.2s;
  }
  #load div:nth-child(4) {
    animation-delay:0.3s;
    -o-animation-delay:0.3s;
    -moz-animation-delay:0.3s;
    -webkit-animation-delay:0.3s;
  }
  #load div:nth-child(5) {
    animation-delay:0.4s;
    -o-animation-delay:0.4s;
    -moz-animation-delay:0.4s;
    -webkit-animation-delay:0.4s;
  }
  #load div:nth-child(6) {
    animation-delay:0.5s;
    -o-animation-delay:0.5s;
    -moz-animation-delay:0.5s;
    -webkit-animation-delay:0.5s;
  }
  #load div:nth-child(7) {
    animation-delay:0.6s;
    -o-animation-delay:0.6s;
    -moz-animation-delay:0.6s;
    -webkit-animation-delay:0.6s;
  }
  
  @keyframes move {
    0% {
      left:0;
      opacity:0;
    }
    35% {
      left: 41%; 
      -moz-transform:rotate(0deg);
      -webkit-transform:rotate(0deg);
      -o-transform:rotate(0deg);
      transform:rotate(0deg);
      opacity:1;
    }
    65% {
      left:59%; 
      -moz-transform:rotate(0deg); 
      -webkit-transform:rotate(0deg); 
      -o-transform:rotate(0deg);
      transform:rotate(0deg); 
      opacity:1;
    }
    100% {
      left:100%; 
      -moz-transform:rotate(-180deg); 
      -webkit-transform:rotate(-180deg); 
      -o-transform:rotate(-180deg); 
      transform:rotate(-180deg);
      opacity:0;
    }
  }
  
  @-moz-keyframes move {
    0% {
      left:0; 
      opacity:0;
    }
    35% {
      left:41%; 
      -moz-transform:rotate(0deg); 
      transform:rotate(0deg);
      opacity:1;
    }
    65% {
      left:59%; 
      -moz-transform:rotate(0deg); 
      transform:rotate(0deg);
      opacity:1;
    }
    100% {
      left:100%; 
      -moz-transform:rotate(-180deg); 
      transform:rotate(-180deg);
      opacity:0;
    }
  }
  
  @-webkit-keyframes move {
    0% {
      left:0; 
      opacity:0;
    }
    35% {
      left:41%; 
      -webkit-transform:rotate(0deg); 
      transform:rotate(0deg); 
      opacity:1;
    }
    65% {
      left:59%; 
      -webkit-transform:rotate(0deg); 
      transform:rotate(0deg); 
      opacity:1;
    }
    100% {
      left:100%;
      -webkit-transform:rotate(-180deg); 
      transform:rotate(-180deg); 
      opacity:0;
    }
  }
  
  @-o-keyframes move {
    0% {
      left:0; 
      opacity:0;
    }
    35% {
      left:41%; 
      -o-transform:rotate(0deg); 
      transform:rotate(0deg); 
      opacity:1;
    }
    65% {
      left:59%; 
      -o-transform:rotate(0deg); 
      transform:rotate(0deg); 
      opacity:1;
    }
    100% {
      left:100%; 
      -o-transform:rotate(-180deg); 
      transform:rotate(-180deg); 
      opacity:0;
    }
  }



  /*=========== Media Queries ======== */

/* Styles for screens up to 320px */
@media (max-width: 426px) {
    nav{
        width: 100%;
        justify-content: flex-start;
        gap: 3rem;
        padding: 0 0.3rem;
    }

    .sign{
        width: auto;
    }
    .signup {
        width: 50%;
        padding: 0.3rem 1.3rem;
        font-size: 0.8rem;
        border-radius: 0.7rem;
    }

    .signup i{
        display: none;
    }

    main{
        flex-direction: column;
        gap: 2rem;
        margin-top: -0.95rem;
    }

    aside{
        padding: 1rem;
    }
    .cat-container{
        width: 100%;
        left: 0;
        height: 3.5rem;
        flex-direction: row;
        padding-left: 0.5rem;
        background-color: var(--background-color);
        z-index: 6;
    }

    .category-item {
        font-size: 0.6rem;
    }

    li:hover{
        font-size: 0.8rem;
    }

    .main-containerP{
        width: 100%;
        padding: 1rem;
    }

    .book-list{
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        padding-left: 5rem;
    }

    .book{
        width: 100%;
        align-items: center;
    }
   
    .details {
        z-index: 6;
        width: 80%;
        left: 10%;
        top: 0%;
        padding: 0.5rem 2rem;
        overflow-y: scroll;
        font-size: 0.8rem;
    }

    .book-info{
        flex-direction: column;
    }

    .book-info img{
        width: 6rem;
        height: 10rem;
        align-self: center;
    }

    .description{
        padding-top: 0;
        width: 100%;
        text-wrap: wrap;
    }

    .icons{
        align-self: center;
    }

    .icons img{
        width: 1rem;
        height: 1rem;
    }
}